<nav class="navbar navbar-expand-lg msla-navbar">
    <div class="container">
        <a class="navbar-brand msla-brand text-white" href="#">
            <div class="d-flex align-items-center">
                <img src="./assets/image/logo-sm.png" alt="MSLA Logo" />

                <div class="ms-2">
                    <b>Microsoft</b> learn <br>
                    Student Ambassadors Egypt
                </div>
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <i class="fa-solid fa-bars text-white"></i>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto ms-lg-6 mb-2 mb-lg-0 mt-3 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                </li>
                <li class="nav-item ms-lg-4">
                    <a class="nav-link" routerLink="community" routerLinkActive="active" ariaCurrentWhenActive="page">Community Leaders</a>
                </li>
                <li class="nav-item ms-lg-4">
                    <a class="nav-link" routerLink="clubs" routerLinkActive="active" ariaCurrentWhenActive="page">Clubs</a>
                </li>
                <li class="nav-item ms-lg-4">
                    <a class="nav-link"  routerLink="events" routerLinkActive="active" ariaCurrentWhenActive="page">Events</a>
                </li>
                <li class="nav-item ms-lg-4">
                    <a class="nav-link"  routerLink="registration" routerLinkActive="active" ariaCurrentWhenActive="page">registration</a>
                </li>
                <li class="nav-item ms-lg-4">
                    <a class="nav-link"  routerLink="registForm" routerLinkActive="active" ariaCurrentWhenActive="page">Apply</a>
                </li>
            </ul>
        </div>
    </div>
</nav>