<section>
    <div class="container">
        <div class="com_Header">
            <div class="com_Header_contant">
                <h1>Microsoft
                    Community Leader</h1>
                <h6>Use the search filters to find Microsoft community leaders of MS clubs or Microsoft Student
                    Ambassadors
                    based on your university, location, or milestone</h6>
            </div>
            <img src="./assets/image/com.headerphoto.png" alt="">
        </div>
    </div>
</section>