<app-header/>
<div class="About_the_event container">
    <h1 style="margin-top: 48px;">About the event</h1>
    <div style="margin-top: 24px;"><b> Connect, get inspired, and innovate</b>
        <p>
            This one-day event offers higher education students like you the opportunity to engage with the Microsoft
            student developer community, connect with like-minded people in your area, and get inspired to invent and
            innovate.</p>
    </div>
    <br>
    <b>Learn, discover, and build skills</b>
    <p>
        Learn more about Microsoft tools, programs, and developer communities. Get access to resources for students and
        career advice; learn about Azure, GitHub, and Visual Studio Code; and apply your new skills as you participate
        in fun activities and challenges.
        Join the Microsoft student developer community</p>
</div>
<div class="container Event_Details">
    <h1>Details</h1>
    <br>
    <h2>Format</h2>
    <p>Event</p>
    <br>
    <h2>Organizer</h2>
    <p>Microsoft Student Club - EELU</p>
    <br>
    <h2>Date and Time</h2>
    <p>September 15, 2023, 9:30 PM - October 31, 2023, 10:00 PM
        (Egypt Standard Time)</p>
    <br>
    <h2>Technology Area</h2>
    <p>Azure Machine Learning Platform</p>
</div>
<div class="container" style="margin-top: 65px; margin-bottom: 88px;">
    <button style="padding: 15px; width: 165px;" type="button" class="btn btn-primary">Register Now!</button>
</div>
